<div id="<%= dom_id friendship %>">
  <p>
    <strong>Status:</strong>
    <%= friendship.status %>
  </p>

  <p>
    <strong>User:</strong>
    <%= friendship.user_id %>
  </p>

  <p>
    <strong>Friend:</strong>
    <%= friendship.friend_id %>
  </p>

</div>
